<h1>Listing subscriptions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Owner_id</th>
    <th>Owner_login</th>
    <th>Ip address</th>
    <th>Plan_name</th>
    <th>Service plan</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @subscriptions.each do |subscription| %>
  <tr>
    <td><%= subscription.name %></td>
    <td><%= subscription.owner_id %></td>
    <td><%= subscription.owner_login %></td>
    <td><%= subscription.ip_address %></td>
    <td><%= subscription.plan_name %></td>
    <td><%= subscription.service_plan_id %></td>
    <td><%= link_to 'Show', subscription %></td>
    <td><%= link_to 'Edit', edit_subscription_path(subscription) %></td>
    <td><%= link_to 'Destroy', subscription, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Subscription', new_subscription_path %>
