<%= form_for(@customer_account) do |f| %>
  <% if @customer_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer_account.errors.count, "error") %> prohibited this customer_account from being saved:</h2>

      <ul>
      <% @customer_account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cname %><br />
    <%= f.text_field :cname %>
  </div>
  <div class="field">
    <%= f.label :pname %><br />
    <%= f.text_field :pname %>
  </div>
  <div class="field">
    <%= f.label :login %><br />
    <%= f.text_field :login %>
  </div>
  <div class="field">
    <%= f.label :passwd %><br />
    <%= f.text_field :passwd %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
